a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
}

.bg-color {
  background-color: #b02a37;
}
/* 漢堡區塊-start */
.hamburger-position {
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger-list {
  position: fixed;
  width: 20rem;
  height: 35rem;
  top: 13rem;
  right: -20rem;
  border-radius: 1.5rem 0 0 1.5rem;
  background-color: #b02a37;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  /* position: sticky; */
  /* flex-direction: column; */
  /* z-index: 100; */
  opacity: 0;
}

/* 搜尋列-start */
.search-bar {
  display: flex;
  justify-content: space-between;
  width: 17rem;
  height: 2.25rem;
  border-radius: 1.25rem;
  border: 1px solid #dee2e6;
  background: #e9ecef;
}

.search-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  width: 4rem;
  height: 1.75rem;
  background-color: #58151c;
  border-radius: 1.25rem;
  color: #e9ecef;
}
/* 搜尋列-end */

/* 漢堡 item-start */

.hamburger-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1.25rem;
  background: rgba(88, 21, 28, 0.8);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  width: 17rem;
  height: 15rem;
  padding: 0.5rem 3rem;
  color: #e9ecef;
  margin: 2rem auto;
}

.hamburger-list-item-line {
  position: relative;
}

.hamburger-list-item-line::after {
  position: absolute;
  content: "";
  width: 150%;
  left: -25%;
  bottom: -8px;
  border-bottom: solid white 1px;
}

.hamburger-list-bottom-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1.25rem;
  background: rgba(88, 21, 28, 0.8);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  width: 17rem;
  padding: 0.5rem 3rem;
  color: #e9ecef;
  margin: 5rem auto 1rem; /*上 左右 下*/
}

/* 漢堡 item-end */

/* 漢堡區塊-end */

.share-animation {
  animation-name: share-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
@keyframes share-animation {
  from {
    right: -15%;
  }
  to {
    right: 0;
    opacity: 1;
    z-index: 20;
  }
}

.share-animation-back {
  animation-name: share-animation002;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes share-animation002 {
  from {
    right: 2%;
    opacity: 1;
    z-index: 20;
  }
  to {
    right: -15%;
    opacity: 0;
  }
}
